langchain
langchain_text_splitters
langchain-community
langchain-openai
langchain-core
langchain_qdrant
qdrant_client
unstructured
unstructured[docx]
unstructured[pdf]
gigachat
openai==1.9.0
python-dotenv
numpy
